:root{
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
    --red: #ff0000;
    --yellow: #ffff00;
    --otherblue: blue;
    --indigo: #000020;
    --jornal: #E1E1DD;
    }
.mobi{
    position:relative;
    width: 100%;
    top:28%;
}
.mobis{
    position: relative;
    width: 125%;
    top: 15%;
    left: 115%;
}
.tit{
    position: relative;
    width:272% ;
    height: 25;
    left: -1%;
    top: 0%;
}
.monte{
    position: absolute;
    top:286px;
    border-color: transparent;
    width: 34%;
    height: 8%;
    font-size:x-large;
    letter-spacing: 1px;
    font-family:fantasy;
    left: 58%;
    color: white;
    background-color:#230546;
    cursor:pointer;

}
body{
    background-color: var(--jornal);
}
.bannera{
    position: absolute;
    top: 117%;
    width: 45%;
    left: 2%;
}
.bannero{
    position: absolute;
    top: 117%;
    width: 45%;
    left: 52%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: var(--jornal);
}
/* Cabeçalho */
header {
    z-index: 1000;
    position:fixed;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #230546; /* Cor vermelha da Fiat */
    color: #fff;
}
.logo img {
    width: 80px;
}
nav {
    display: flex;
    align-items: center;
}
.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li {
    margin-left: 20px;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    transition: transform 0.3s ease;
}
.nav-links a:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse, lembrando aceleração */
    color: #ffcc00; /* Cor que remete a faróis de carro */
}
/*carro*/
.button-container {
    margin: 10px 0;
    position:absolute;
    top: 205%;
    left: 3%;
}
.car-button {
    font-size: 17px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 15px 65px;
    margin: 10px;
    background-color: #230546;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.car-button:hover {
    background-color: #575757;
}
.car-display {
    margin-top: 20px;
}
.car-image {
    position:absolute;
    z-index: 1;
    top: 235%;
    left: 25%;
    max-width: 45%;
    height: auto;
    display: none;
}
/*modelos*/
.abarth{
    position:absolute;
    z-index: 1;
    top: 320%;
    left:2%;
width: 95%;
height: 85%;
}
.toron{
    position: absolute;
    top: 415%;
    width: 45%;
    left: 2%;
}
.conect{
    position: absolute;
    top: 415%;
    width: 45%;
    left: 52%;
}
.instagram{
    position: absolute;
    width: 25%;
    top:515% ;
    left: 65%;
}
.linkedin{
    position: absolute;
    width: 30%;
    top:495% ;
    left: 63%;
}
.logos{
    position: absolute;
    width: 30%;
    top:510% ;
    left: 10%;
}